
/* #container{
    width: 100%;
    background-color: rgb(204, 204, 204);
    height: 1200px;
    text-align: center;
    margin-top: 0;
  /* border: 2px solid;
} */



/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
    width: 10px;
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: #DFE9EB;
  }
  
  *::-webkit-scrollbar-track:hover {
    background-color: #C1CACB;
  }
  
  *::-webkit-scrollbar-track:active {
    background-color: #B8C0C2;
  }
  
  *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #64B6AC;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #64B6AD;
  }
  
  *::-webkit-scrollbar-thumb:active {
    background-color: #4D8C85;
  }

/* .cour1{
  display: flex;
  margin-top: 100px;
  padding: 60px;
  margin-left: 70px;
  justify-content: space-between;
} */

/* annimated text */
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
	font-family: "Russo One", sans-serif;
	width: 100%; height: 100%;
}
svg text {
	animation: stroke 4s infinite alternate;
	stroke-width: 2;
	stroke: #365FA0;
	font-size: 100px;
}
@keyframes stroke {
	0%   {
		fill: rgba(19,118,204,0); stroke: rgba(54,95,160,1);
		stroke-dashoffset: 25%; stroke-dasharray: 0 50%; stroke-width: 2;
	}
	70%  {fill: rgba(19,118,204,0); stroke: rgba(54,95,160,1); }
	80%  {fill: rgba(19,118,204,0); stroke: rgba(54,95,160,1); stroke-width: 3; }
	100% {
		fill: rgba(19,118,204,1); stroke: rgba(54,95,160,0);
		stroke-dashoffset: -25%; stroke-dasharray: 50% 0; stroke-width: 0;
	}
}

.wrapper {background-color: #f5f5f5};
